---
import { twMerge } from 'tailwind-merge';
const { data = 'Tab()', className, ...props } = Astro.props;
---

<div x-data={data} class={twMerge('', className)} {...props}>
  <slot />
</div>

<script>
  import Alpine from 'alpinejs';

  document.addEventListener('alpine:init', () => {
    Alpine.data('Tab', () => ({
      selectedTab: null,
      init() {
        window.onload = () => {
          const activeTab =
            this.$refs.tabList.querySelector('[data-is-active]');
          const activeTabName = activeTab.getAttribute('data-tab-name');

          this.selectedTab = activeTabName;

          if (activeTab) {
            // Set custom properties based on the first button's width and left position
            const tabOffset = activeTab.offsetLeft;
            const tabWidth = activeTab.offsetWidth;

            this.$refs.tabList.style.setProperty(
              '--tab-width',
              `${tabWidth}px`,
            );
            this.$refs.tabList.style.setProperty(
              '--tab-offset',
              `${tabOffset}px`,
            );
          }
        };
      },
      switchToTab(name) {
        this.selectedTab = name;
        const tabWidth = this.$el.offsetWidth;
        const tabOffset = this.$el.offsetLeft;

        const activeTab = this.$refs.tabList.querySelector('[data-is-active]');

        activeTab.removeAttribute('data-is-active');
        this.$el.setAttribute('data-is-active', true);

        this.$refs.tabList.style.setProperty('--tab-width', `${tabWidth}px`);
        this.$refs.tabList.style.setProperty('--tab-offset', `${tabOffset}px`);
      },
    }));
  });
</script>
