---
import { twMerge } from 'tailwind-merge';
const { data, selection, className, ...props } = Astro.props;

const defaultData = {
  selection: selection,
};

const xData = JSON.stringify({ ...defaultData, ...data }, null, 2).replace(/"/g, `'`);
---

<div x-data={`Tab(${xData})`} class={twMerge('', className)} {...props}>
  <slot />
</div>

<script>
  import Alpine from 'alpinejs';

  document.addEventListener('alpine:init', () => {
    Alpine.data('Tab', (initialState = {}) => ({
      selection: initialState.selection,
      className: {
        trigger: {
          default: 'text-gray-400 hover:text-gray-600 dark:hover:text-gray-300',
          active: 'text-blue-500 dark:text-blue-400',
        },
      },
      init() {
        this.setState(initialState);
        window.onload = () => {
          const activeTab = this.$root.querySelector('[data-tab-name="' + this.selection + '"]');

          if (activeTab) {
            // Set custom properties based on the first button's width and left position
            const tabOffset = activeTab.offsetLeft;
            const tabWidth = activeTab.offsetWidth;

            this.$root
              .querySelector('[data-tab-list]')
              .style.setProperty('--tab-width', `${tabWidth}px`);
            this.$root
              .querySelector('[data-tab-list]')
              .style.setProperty('--tab-offset', `${tabOffset}px`);
          }
        };
      },
      switchTab(name) {
        this.selection = name;
        const tabWidth = this.$el.offsetWidth;
        const tabOffset = this.$el.offsetLeft;

        this.$root
          .querySelector('[data-tab-list]')
          .style.setProperty('--tab-width', `${tabWidth}px`);
        this.$root
          .querySelector('[data-tab-list]')
          .style.setProperty('--tab-offset', `${tabOffset}px`);

        const tabs = this.$root.querySelectorAll('button');
      },
      setState(state) {
        for (const path in state) {
          const pathParts = path.split('.');
          let currentPart = this;

          for (let i = 0; i < pathParts.length - 1; i++) {
            if (currentPart[pathParts[i]] === undefined) {
              console.warn(`State path "${pathParts[i]}" not found.`);
              return;
            }
            currentPart = currentPart[pathParts[i]];
          }

          const lastPart = pathParts[pathParts.length - 1];
          if (currentPart[lastPart] === undefined) {
            console.warn(`State path "${lastPart}" not found.`);
          } else {
            // Check if we are modifying a property inside className
            if (path.startsWith('className.')) {
              // Use twMerge for className properties
              currentPart[lastPart] = twMerge(currentPart[lastPart], state[path]);
            } else {
              // Directly assign the value for other properties
              currentPart[lastPart] = state[path];
            }
          }
        }
      },
      getClass(path) {
        const pathParts = path.split('.');
        let currentPart = this.className;

        for (const part of pathParts) {
          if (currentPart[part] === undefined) {
            console.warn(`Class path "${path}" not found.`);
            return '';
          }
          currentPart = currentPart[part];
        }
        return currentPart;
      },
    }));
  });
</script>
