---
import { getCollection } from 'astro:content';
import { SITE } from '@/rinsedocs.config';

import Layout from '@layouts/rinsedocs/Base.astro';
import * as helper from '@/js/helpers.js';
import SidebarList from '@/components/rinsedocs/SidebarList.astro';
import TOC from '@/components/rinsedocs/TOC.astro';

const { frontmatter, headings, entry } = Astro.props;

const collection = entry.collection;
const allPages = await getCollection(collection, ({ data }) => {
	return data.draft !== true;
});

const navigation = helper.buildNavigation(allPages, Astro.url.pathname, SITE.sidebar?.components);

const breadcrumb = helper.buildBreadcrumb(entry.slug);
// console.dir(headings, { depth: null });
---

<Layout title={frontmatter.title}>
	<main class="flex w-full">
		<aside class="sticky top-0 flex h-[100dvh] flex-none" style="width: 300px">
			<nav class="flex flex-none flex-col items-center border-r border-white/10 px-2 py-4">
				<div class="flex flex-col gap-3.5">
					<a class="flex h-8 w-8 items-center justify-center rounded-full bg-[#9E7CFF]">
						<svg class="h-3.5 fill-current text-white" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"
							><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
							<path
								d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z"
							></path></svg
						>
					</a>
					<a class="flex h-8 w-8 items-center justify-center rounded-full bg-[#2FB85E]">
						<svg class="h-3.5 fill-current text-white" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"
							><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
							<path
								d="M192 512C86 512 0 426 0 320C0 228.8 130.2 57.7 166.6 11.7C172.6 4.2 181.5 0 191.1 0h1.8c9.6 0 18.5 4.2 24.5 11.7C253.8 57.7 384 228.8 384 320c0 106-86 192-192 192zM96 336c0-8.8-7.2-16-16-16s-16 7.2-16 16c0 61.9 50.1 112 112 112c8.8 0 16-7.2 16-16s-7.2-16-16-16c-44.2 0-80-35.8-80-80z"
							></path></svg
						>
					</a>
					<a class="flex h-8 w-8 items-center justify-center rounded-full bg-[#F86868]">
						<svg class="h-3.5 fill-current text-white" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"
							><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
							<path
								d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"
							></path></svg
						>
					</a>
					<a class="flex h-8 w-8 items-center justify-center rounded-full bg-[#2799EC]">
						<svg class="h-3.5 fill-current text-white" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"
							><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
							<path
								d="M254 52.8C249.3 40.3 237.3 32 224 32s-25.3 8.3-30 20.8L57.8 416H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32h-1.8l18-48H303.8l18 48H320c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H390.2L254 52.8zM279.8 304H168.2L224 155.1 279.8 304z"
							></path></svg
						>
					</a>
					<a class="flex h-8 w-8 items-center justify-center rounded-full bg-[#F19100]">
						<svg class="h-3.5 fill-current text-white" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"
							><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
							<path
								d="M315.4 15.5C309.7 5.9 299.2 0 288 0s-21.7 5.9-27.4 15.5l-96 160c-5.9 9.9-6.1 22.2-.4 32.2s16.3 16.2 27.8 16.2H384c11.5 0 22.2-6.2 27.8-16.2s5.5-22.3-.4-32.2l-96-160zM288 312V456c0 22.1 17.9 40 40 40H472c22.1 0 40-17.9 40-40V312c0-22.1-17.9-40-40-40H328c-22.1 0-40 17.9-40 40zM128 512a128 128 0 1 0 0-256 128 128 0 1 0 0 256z"
							></path></svg
						>
					</a>

					<a class="flex h-8 w-8 items-center justify-center rounded-full bg-white/10 hover:bg-white/20">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-4 w-4 fill-current text-white">
							<path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"></path>
						</svg>
					</a>
				</div>
			</nav>
			<div class="flex-1 overflow-hidden">
				<div class="flex items-center justify-between px-1 py-5">
					<div class="px-2 text-sm font-semibold text-white">Component Library</div>
					<button class="mr-2 flex h-6 w-6 items-center justify-center rounded-lg bg-white shadow outline-none ring-1 ring-gray-950/10 hover:ring-gray-950/20">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-3 w-3">
							<path fill-rule="evenodd" d="M7.455 2.004a.75.75 0 01.26.77 7 7 0 009.958 7.967.75.75 0 011.067.853A8.5 8.5 0 116.647 1.921a.75.75 0 01.808.083z" clip-rule="evenodd"
							></path>
						</svg>
					</button>
				</div>

				<div class="mb-5 px-3">
					<button
						type="button"
						class="flex w-full items-center justify-between rounded-md bg-slate-700/30 px-2.5 py-2 text-left text-sm font-semibold text-white shadow outline-none ring-1 ring-slate-600/50 hover:ring-slate-600"
					>
						<div class="flex items-center gap-2">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-3.5 w-3.5">
								<path
									fill-rule="evenodd"
									d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
									clip-rule="evenodd"></path>
							</svg>

							<span class="text-sm font-normal text-slate-400">Quick search</span>
						</div>
						<span class="text-[11px] font-normal text-slate-400"> ⌘K</span>
					</button>
				</div>

				<!-- <h4 class="mb-2 px-3 text-sm font-semibold text-slate-500">Your library</h4> -->

				<nav class="mx-3" data-current-slug={Astro.url.pathname} x-data="sidebarLinkState($el)">
					<SidebarList data={navigation} />
				</nav>
			</div>
		</aside>

		<section class="relative my-3 flex flex-1 overflow-auto rounded-l-lg bg-white shadow-xl ring-1 ring-gray-950/10">
			<div class="flex-1 overflow-auto">
				<header class="px-7 text-left">
					<ol role="list" class="mb-2 flex items-center gap-2 py-5">
						{
							breadcrumb.map((crumb, index) => (
								<li>
									<div class="flex items-center gap-3">
										{index !== 0 ? (
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-4 w-4">
												<path
													fill-rule="evenodd"
													d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
													clip-rule="evenodd"
												/>
											</svg>
										) : null}

										<span class="text-sm text-slate-500" aria-current="page" class:list={index === 0 ? 'text-slate-400' : 'font-semibold text-slate-900'}>
											{crumb}
										</span>
									</div>
								</li>
							))
						}
					</ol>
					<h1 class="mt-4 text-3xl font-bold tracking-tight text-slate-900">
						{frontmatter.title}
					</h1>
					{
						frontmatter.description && (
							<div class="mt-3 max-w-2xl">
								<p class="text-base font-normal text-slate-600">{frontmatter.description}</p>
							</div>
						)
					}

					<div class="mt-8 h-px w-full bg-slate-200"></div>
				</header>
				<div>
					<article class="rinsedown px-7">
						<slot />
					</article>
				</div>
			</div>
			<div class="relative w-[260px] flex-none border-l border-slate-200">
				<nav class="sticky top-0 px-6 py-5">
					<div>
						<h3 class="mb-3 text-sm font-semibold text-slate-900">On this page</h3>
						<TOC data={headings} />
					</div>
					{
						frontmatter.meta && (
							<div class="mt-10">
								<h3 class="mb-3 text-sm font-semibold text-slate-900">Contribute</h3>
								<ul class="text-sm">
									{frontmatter.meta.map((link) => (
										<li class="text-sm font-medium leading-[28px]">
											<a class="flex items-center gap-1.5 text-slate-600 hover:text-slate-900" href={link.url}>
												{link.icon === 'pencil' ? (
													// Pencil SVG
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-3.5 w-3.5">
														<path d="M2.695 14.763l-1.262 3.154a.5.5 0 00.65.65l3.155-1.262a4 4 0 001.343-.885L17.5 5.5a2.121 2.121 0 00-3-3L3.58 13.42a4 4 0 00-.885 1.343z" />
													</svg>
												) : link.icon === 'github' ? (
													// GitHub SVG
													<svg class="h-3.5 w-3.5" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 496 512">
														<path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" />
													</svg>
												) : (
													// Default SVG
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-3.5 w-3.5">
														<path
															fill-rule="evenodd"
															d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
															clip-rule="evenodd"
														/>
													</svg>
												)}
												{link.label}
											</a>
										</li>
									))}
								</ul>
							</div>
						)
					}
				</nav>
			</div>
		</section>
	</main>
</Layout>
